@charset "ISO-8859-1";

*
{
	font-size: 16px;
}
#maindiv
{
margin-top:40px;
margin-left:100px;
}

#textbox,#historyBox
{
font-weight:bold;
text-align:right;
 background-color: #dcdbe1;
 /*border: solid black 0.5px;*/
 color: black;
 /*border-radius: 5px;*/
 width: 99%;
 outline:none;
 border:none;
 user-select: none;
}

#textbox
{
	height: 62px;
	font-weight: bold;
	font-size:xx-large;
}

#historyBox
{
	height:40px;
	border-bottom: 0.5px solid black;
	color:rgba(0, 0, 0,0.5);
}


input[type="button"]
{

height:50px;
font-weight:bold;

border: solid black 0.5px;
margin-left: 12px;
 width: 60px;
 border-radius: 5px;
}

input[type="button"]:hover
{
	box-shadow: 0px 5px 5px 0px #ffa260;
	opacity:0.5;
}

table
{
border-collapse:collapse;
 width:420px;
 
 border-radius: 5px;
 height: 380px;
background-color:grey;
  /*background-color: rgb(108, 101, 203);*/
}

tr
{
width:100%;

}
td
{
 padding: 10px;

}

#clearBtn:hover,#bksp:hover
{
	background-color: #f297a0;
	box-shadow: 0 4px #cc7f86;
}
#clearBtn,#bksp
{
	color:orangered;
		font-size: x-large;
}

#eqBtn:hover{
	background-color: rgb(81, 188, 39);
	box-shadow: 0 4px rgb(0, 225, 113);
}

#eqBtn
{
	width:60px;
	font-size: xx-large;
	color:darkblue;
}

#sqrt
{
	font-size: x-large;
}

.operator
{
/*	color:rgb(238, 238, 238);
*/	/*background-color: darkcyan;*/
}

.selected
{
background-color:mediumpurple;	
}

.paranSelected
{
	background-color: rgb(182, 99, 203);
}

.moreBtn{
	background-color: lightblue;
}